<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    style="cursor: pointer"
    width="40"
    alt="Angular Logo"
    routerLink="/profile"
    src="../assets/Steak.png"
  />
  <div style="display: flex;">
    <button mat-button style="margin: 7px 0 0 0" routerLink="/profile">Profile</button>
    <button mat-button style="margin: 7px 0 0 0" routerLink="/register">Register</button>
    <button mat-button style="margin: 7px 10px 0 0" routerLink="/login">Sign out</button>
  </div>

</div>
